<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encore</title>
</head>
<body>
<p> 임시 테스트 위한 공간 </p>

<button class="btn btn-success active" th:onclick="|location.href='@{/swagger-ui/index.html}'|" type="button">Swagger</button>
<button class="btn btn-success active" th:onclick="|location.href='@{/oauth2/authorization/google}'|" type="button">Google Login</button>
<button class="btn btn-success active" th:onclick="|location.href='@{/oauth2/authorization/github}'|" type="button">Github Login</button>



</body>
</html>